/********************************/
/*        Global Styles         */
/********************************/
*, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
body {
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro",  "Helvetica Neue",  Helvetica,  Arial,  sans-serif;
    overflow-x: hidden;
}
html {
    width: 100%;
    height: 100%;
}

a:hover{
    text-decoration:none;
}

/********************************/
/*    User Registration Form    */
/********************************/
.form-row.padd{
    padding-top: 13%;
}

.login-form{
    margin: 30px 0px 0px 0px !important;
    padding: auto;
    padding-bottom: 5%;
    
}
.login-form>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-header{
    text-align: center;
}

.text-light
{
    color: #f2f2f2;
    margin: 0px 0px 10px 0px !important;
}

.text-error
{
    color: #ff0000;
    margin: 0px 0px 5px 0px !important;
    font-weight: bold;
    display: block;
}
.text-primary
{
    font-weight: bold;
    margin: 0px 0px 5px 0px !important;
    display: block;
}

.login-form .login-details{
    margin: 20px 0px 0px 0px !important;
    padding: auto;
    text-align: center;
}

.navbar-brand{
	
}

.navbar-brand>img{
	margin: auto 0px auto 15px !important;
	padding: auto;
}

.navbar-header{
	margin-left:-4%!important;
}

.navbar-left{
	margin-left:38.7px;
}

.navbar-right{
	margin-right:21px;
}

.navbar-inverse{
	border:none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border:none;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 320px;
    height: 100%;
    margin-left: -320px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.sidebar-nav {
    position: absolute;
    top: 8.2%;
    width: 320px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    font-size: 110%;
    font-weight: 800;
    text-transform: uppercase;
    outline: none;
}
.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #279636;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(10):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before, .sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}
.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
    height: 44px;
    font-size: 18px;
    line-height: 1.43;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
#menu-toggle {
    z-index: 801;
    position: fixed;
    top: 0;
    right: .5%;
}
#sidebar-wrapper.active {
    left: 320px;
    width: 320px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle {
    margin: 0;
}
#to-top {
    position: fixed;
    right: .2%;
    bottom: .2%;
    z-index: 799;
}
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,  0,  0,  0.4);
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    color: #fff;
    background-color: rgba(0,  0,  0,  0.7);
}
.btn {
    border-radius: 5px;
    overflow: hidden;
	border:none;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    box-shadow: inset 0 0 0 2px #398439;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 0 0 2px #ac2925;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    box-shadow: inset 0 0 0 2px #204d74;
}
.btn-default {
    color: #333;
    background-color: #efefef;
    border-color: #ccc;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    box-shadow: inset 0 0 0 5px #adadad;
}
.btn-inverse {
    background-color: #222;
    border-color: #080808;
    color: #9d9d9d;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse.focus, .btn-inverse:active, .btn-inverse.active, .open > .dropdown-toggle.btn-inverse {
    color: #fff;
    background-color: #080808;
    border-color: #333;
    box-shadow: inset 0 0 0 2px #333;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 0 0 2px #ac2925;
}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
    color: #c9302c;
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #c9302c;
    border-color: #ac2925;
}

.accordion-toggle{
    z-index: 801;
    position: fixed;
    top: 0;
    left: .5%;
}

.accordion-toggle:hover, .accordion-toggle:focus{
	cursor:pointer;
}

.nav-btn{
	display:block;
	top: 0px;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align:center;
}

.accordion-toggle{
	text-align:center;
	width:2.7%;
	min-width: 50px;
}

.accordion-toggle span:after{
    /* symbol for "opening" panels */
	font-family: 'FontAwesome';
	/* essential for enabling glyphicon */
	content:"\f078";
    position:absolute;
    top:0;
    bottom:0;
    right:5%;
	color: white;
	text-align:right;
	float:right;
	vertical-align:middle;
	margin-top:0;
	font-weight:700;
	font-size:120%;
	text-decoration:none;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active{
	color: #fff;
	background-color: rgba(0,0,0,0.7);
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #222;
}

/*page styling*/
.page-header{
	text-align: center;    
}

.header-title {
    color: #fff;
}
.title-thin {
	font-weight: 300;
}

/********************************/
/*    Social Accordion Styling  */
/********************************/
.container-form .nav-tabs.nav-justified > li > a, .container-form .nav-tabs.nav-justified > li > a:hover, .container-form .nav-tabs.nav-justified > li > a:focus {
    background: #333333;
    border: 0 none;
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 0;
    border-radius: 0;
    padding: 6% 3%;
    line-height: 1.5;
    font-weight: 600;
    font-size: 100%;
    outline: 0 none;
}

.form-control-custom {
    background-color: #090909 !important;
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0,  0,  0,  0.075) inset;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s,  box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    color: #inherit !important;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    outline: none;
}

.form-control-custom:hover {
    border-color: rgba(100,  00,  00,  0.50);
    background-color: #222222 !important;
    background-image: none;
    color: #inherit !important;
    color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(09,  09,  09,  0.8);
    -moz-box-shadow: 0 0 10px rgba(09,  09,  09,  0.8);
    box-shadow: 0 0 10px rgba(09,  09,  09,  0.8);
}
.form-control-custom:focus {
    border-color: rgba(22,  22,  22,  .75);
    outline: 0;
    outline: thin dotted 9;
    background: #fff !important;
    color: #333 !important;
    -webkit-box-shadow: 0 0 8px rgba(22,  22,  22,  .6);
    -moz-box-shadow: 0 0 8px rgba(22,  22,  22,  .6);
    box-shadow: 0 0 8px rgba(22,  22,  22,  .6);
}

.form-control-light {
    background-color: #999999 !important;
    background-image: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,  0,  0,  0.075) inset;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s,  box-shadow 0.15s ease-in-out 0s;
    width: 50%;
    color: #inherit !important;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    outline: none;
    margin: 0px 0px 10px 0px !important;
}

.input-password-image { 
  background-image: url('../images/passwordIcon.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}
.input-email-image { 
  background-image: url('../images/emailIcon.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-control-light:hover {
    border-color: rgba(100,  00,  00,  0.50);
    background-color: #cccccc !important;
    background-image: none;
    color: #inherit !important;
    color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(09,  09,  09,  0.8);
    -moz-box-shadow: 0 0 10px rgba(09,  09,  09,  0.8);
    box-shadow: 0 0 10px rgba(09,  09,  09,  0.8);
}
.form-control-light:focus {
    border-color: rgba(22,  22,  22,  .75);
    outline: 0;
    outline: thin dotted 9;
    background: #fff !important;
    color: #333 !important;
    -webkit-box-shadow: 0 0 8px rgba(22,  22,  22,  .6);
    -moz-box-shadow: 0 0 8px rgba(22,  22,  22,  .6);
    box-shadow: 0 0 8px rgba(22,  22,  22,  .6);
}
/********************************/
/*         Cards Overlay        */
/********************************/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-sm {padding: 5px 30px;}
.navbar{
     border:none;
     border-radius: 0px;
 }
 
/********************************/
/*        Animals cards         */
/********************************/
.animal-cards-container {
  width:70%;
  margin:auto;
  padding-top: 4%;
}

.enlargedAnimalCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    background: white;
    margin:auto;
    text-align: center;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.enlargedCardContent{
    text-align: left;
    padding-left: 2%;
    display: block;
    font-family: Comic Sans MS;
}

.mainAnimalDetails{
    padding-top: 0px;
    font-size: medium;
}

.enlargedAnimalImage{
    width: 100%;
    max-height: 300px;
}

.panel .pad {
  padding: 0 15px; 
}
.panel.flip .action {
  display: none;
}

.panel {
  width: 200px;
  height: 300px;
  margin: 20px;
  position: relative;
  display:inline-block;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}
.panel .front {
  z-index: 900;
  width: inherit;
  height: inherit;
  background: #fff;
  
  -moz-box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  
  -o-transform: rotateX(0deg) rotateY(0deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;
 
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.panel.flip .front {
  z-index: 900;
  background: #fff;
  
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  
  -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}
  	
.panel .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  background: #fff;
  border:1px solid #000;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  
  -o-transform: rotateY(-180deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  
  -ms-transform: rotateY(-180deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;
  
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
 
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
		
.panel.flip .back {
  z-index: 1000;
  background: #fff;
  
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.frontTitle {
  padding-top:5px;
  text-align:center;
  font-family:'latoregular',arial;
  font-size:18px;
  color:#000;
  height:45px;
}

.frontLogo {
    width:100%;
    height:200px;
    background-repeat:no-repeat;
    background-position:center center;
}

.isas {
  background-image:url('../images/Vladi.jpg');
  background-size:150px 150px;
}

.boisedigital {
 background-image:url('../images/Sivan.jpg');
      background-size:85% auto;
  background-position:center center;
}

.dissolve {
 background-image:url('../images/Erez.jpg');
      background-size:125px 125px;  
}

.frontLocation {
  padding-top:10px;
  text-align:center;
  color:#aaa;
  font-family:'latoregular',arial;
  font-size:18px;
}

.backTitle {
  padding:10px;
   color:#000;
  font-family:'latohairline',arial;
  font-size:16px;
  font-weight:bold;
}

.backParagraph {
   padding:10px;
  padding-top:0;
   color:#000;
  font-family:'latoregular',arial;
  font-size:14px;
}

.backGoto {
  padding:10px;
  padding-top:0;
  color:#06f;
  font-family:'latoregular',arial;
  font-size:14px;
}

.backGoto a {
  text-decoration:none;
  color:#06f;
  -webkit-transition:0.1s all linear;
  -moz-transition:0.1s all linear;
  -o-transition:0.1s all linear;
  transition:0.1s all linear;
}

.backGoto a:hover {
  text-decoration:underline;
  padding-left:15px;
}

.GotoAnimal {
  padding:10px;
  padding-top:0;
  color:#06f;
  font-family:'latoregular',arial;
  font-size:14px;
}

.GotoAnimal a {
  text-decoration:none;
  color:#06f;
  -webkit-transition:0.1s all linear;
  -moz-transition:0.1s all linear;
  -o-transition:0.1s all linear;
  transition:0.1s all linear;
}

.GotoAnimal a:hover {
  text-decoration:underline;
  padding-left:15px;
}